@import 'variables';
@import 'mixins';

.excel__formula  {
  display: flex;
  align-items: center;
  border-bottom: 1px solid $border-color;

  &-info {
    padding: 9px;
    font-size: 20px;
    font-style: italic;
  }

  &-input {
    width: 100%;
    padding: 15px 10px;
    outline: none;
    transition: 0.3s;
    border-left: 1px solid $border-color;
  }
}
